In [71]:
import os
import pandas as pd
import numpy as np

In [ ]:
# Load the Lightly selection in a list

In [ ]:
lightly_file_name = '../assets/filenames-rumex_4by_4_50k-coreset-samples_20000-1688802987585.txt'

with open(lightly_file_name, 'r') as file:
    lines = file.readlines()

# Remove newline characters
lines = [line.strip() for line in lines]
datasets = [line.split('/')[0] for line in lines]

In [ ]:
len(set(lines))

In [48]:
# Count the number of images in each dataset before and after lightly selection

In [69]:
# Counting the number of images of each fiel in the lightly dataset
df = pd.DataFrame(columns=['dataset', 'total_nb_images', 'total_selected_lightly', 'size_gb'])
root = '/mnt/Foto-Work-RE/26_Agricultural_Engineering-RE/263_DP/Fenaco_Blackenprojekt_2021-2023/_CURATED_DATA_SETS/'
index = 0
for d in set(datasets):
    d_path = os.path.join(root, d, '1_images')

    # Total number of images  in the original dataset before lightly filtering
    jpg_count = sum( 1 for filename in os.listdir(d_path) if filename.endswith('.JPG'))
    
    # Check total number of annotated images from the lightly dataset
    total_selected_lightly = len([item for item in lines if d in item])

    total_size = 0
    for image in os.listdir(d_path):
        if image.lower().endswith(('.jpg', '.jpeg')):
            file_path = os.path.join(d_path, image)
            total_size += os.path.getsize(file_path)

    total_gb = total_size / (1024**3)


    row = [d, jpg_count, total_selected_lightly, total_gb]  # You can customize these values
    df.loc[index] = row
    index = index + 1

In [70]:
df

,dataset,total_nb_images,total_selected_lightly,size_gb
0,20230426_SchneiderWallenwil_S_20_F_50_O_krma_ID1,1119,1294,26.170084
1,20230616_HerrenpuentSuedwestTestfield_S_20_F_6...,108,108,2.203074
2,20230613_HerrenpuentTestfieldWithMarkers_S_00_...,85,106,1.913874
3,20220830_HaldenSued_S_50_F_50_O_stra_ID1,500,20,8.456916
4,20230414_Waldegg_S_70_F_80_O_stra_ID1,1379,895,37.162597
...,...,...,...,...
62,20230421_SchildHohenegg_S_20_F_50_O_sama_ID1,1556,526,36.344907
63,20230615_SchildDotnachtZaelgli_S_20_F_60_H_12_...,372,361,9.424788
64,20230620_HerrenpuentSuedwestTestfield_S_25_F_7...,142,149,3.153456
65,20230615_SchildOberhofenBuel3_S_20_F_60_H_12_O...,1143,447,32.078169
66,20230621_HerrenpuentSuedwestStreifen_S_00_F_00...,51,180,1.104964

In [50]:
df.to_csv('../assets/lightly_totalimages_selectedimages.csv', index=False)

In [ ]:
20220823_HaldenSued_S_10_F_50_O_stra_ID1	haldensued08
20220901_HaldenNord_S_10_F_50_O_sama_ID1	haldennord09
20221010_HaldenNord_S_25_F_60_O_sama_ID1	haldennord10
20221010_HaldenSued_S_25_F_60_sama_ID1	haldensued10

In [62]:
df

,dataset,total_nb_images,total_selected_lightly
0,20230426_SchneiderWallenwil_S_20_F_50_O_krma_ID1,1119,1294
1,20230616_HerrenpuentSuedwestTestfield_S_20_F_6...,108,108
2,20230613_HerrenpuentTestfieldWithMarkers_S_00_...,85,106
3,20220830_HaldenSued_S_50_F_50_O_stra_ID1,500,20
4,20230414_Waldegg_S_70_F_80_O_stra_ID1,1379,895
...,...,...,...
62,20230421_SchildHohenegg_S_20_F_50_O_sama_ID1,1556,526
63,20230615_SchildDotnachtZaelgli_S_20_F_60_H_12_...,372,361
64,20230620_HerrenpuentSuedwestTestfield_S_25_F_7...,142,149
65,20230615_SchildOberhofenBuel3_S_20_F_60_H_12_O...,1143,447
66,20230621_HerrenpuentSuedwestStreifen_S_00_F_00...,51,180

In [ ]:
# Total size of GBs for all dataset in lightly

In [72]:
np.sum(df['size_gb'])

768.0336234904826

In [ ]:
# Size of the dataset 20221010_HaldenSued_S_25_F_60_sama_ID1 ==> Total number of images

In [73]:
np.sum(df['size_gb']) + 21

789.0336234904826

In [64]:
df[df['dataset'] == '20220823_HaldenSued_S_10_F_50_O_stra_ID1']

,dataset,total_nb_images,total_selected_lightly
57,20220823_HaldenSued_S_10_F_50_O_stra_ID1,874,467

In [65]:
df[df['dataset'] == '20220901_HaldenNord_S_10_F_50_O_sama_ID1']

,dataset,total_nb_images,total_selected_lightly
36,20220901_HaldenNord_S_10_F_50_O_sama_ID1,615,32

In [66]:
df[df['dataset'] == '20221010_HaldenNord_S_25_F_60_O_sama_ID1']

,dataset,total_nb_images,total_selected_lightly
23,20221010_HaldenNord_S_25_F_60_O_sama_ID1,1412,161

In [67]:
df[df['dataset'] == '20221010_HaldenSued_S_25_F_60_sama_ID1']

Empty DataFrame
Columns: [dataset, total_nb_images, total_selected_lightly]
Index: []

In [ ]:
# Total number of images treated

In [74]:
nb_images_20221010_HaldenSued_S_25_F_60_sama_ID1 = 999
nb_images_all_others = np.sum(df['total_nb_images'])
nb_all_images = nb_images_all_others + nb_images_20221010_HaldenSued_S_25_F_60_sama_ID1
nb_all_images

32696

In [75]:
np.sum(df['total_selected_lightly'])

20000